<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="radio">
    <div class="vue_radio">
      <div class="tabs">
        <input type="radio" id="tab1" name="tab" value="1" v-model="isActive">
        <label for="tab1">タブ1</label>
        <input type="radio" id="tab2" name="tab" value="2" v-model="isActive">
        <label for="tab2">タブ2</label>
        <input type="radio" id="tab3" name="tab" value="3" v-model="isActive">
        <label for="tab3">タブ3</label>
      </div>
      <ul class="contents">
        <li v-if="isActive === '1'">コンテンツ1</li>
        <li v-else-if="isActive === '2'">コンテンツ2</li>
        <li v-else-if="isActive === '3'">コンテンツ3</li>
      </ul>
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '#radio',
      data: {
        isActive: '1',
      }
    });
  </script>
  <style>
    li{
      list-style: none;
    }
    input{
      display: none;
    }
    .vue_radio{
      display: flex;
      flex-direction: column;
    }
    .tabs{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    label{
      width: 100px;
      border: solid 1px gainsboro;
      text-align: center;
    }
    input:checked + label{
      background-color:black;
      color: white;
    }
    .contents{
      padding: 0;
    }
  </style>
</body>

</html>